* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: rgb(58, 45, 45)
}