#lightning {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#lightningvideo {
    opacity: 1;
    height: 100vh;
    z-index: -1;
    position: absolute;
    margin: auto;
}

.lightning-header {
    display:flex;
    color: rgb(172, 172, 41);
    font-size: 5rem;
    font-family: 'Condiment', cursive;
    padding-top: 15rem;
    padding-bottom: 7rem
}

.lightning-text {
    width: 80%;
    background: white;
    border-radius: 10px 10px 10px 10px;
}

.lightning-paragraph {
    color: black;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.9rem;
    padding: 8rem;
}